.file-icon {
	color: #94a3a7;
}
.jstree-icon {
	display: none !important;
}
.jstree-icons ul li {
	position: relative;
}
.jstree-icons ul li:before {
	content: '';
	width: 6px;
	height: 1px;
	position: absolute;
	top: 12px;
	left: -6px;
	border-bottom: 1px dashed rgba(144, 144, 144, 0.65);
}
.jstree ins.file-icon {
	position: relative;
	margin-left: -20px !important;
	margin-right: 5px;
}
ul li.jstree-open> ul {
	margin-left: 10px;
	position: relative;
	padding-left: 10px;
}
li.jstree-open> ul:before {
	content: '';
	width: 1px;
	position: absolute;
	top:0;
	bottom: 11px;
	left: 0;
	border-left: 1px dashed rgba(144, 144, 144, 0.65);
/*	background-color: #94a3a7;*/
}
.jstree-brackets li > a {
	padding-bottom: 0;
}
li.jstree-open > a > div,
li.jstree-open > div,
li.jstree-closed > a > div,
li.jstree-closed > div,
li.jstree-leaf > a > div,
li.jstree-leaf > div
{
	width: 20px !important;
}
#project-files-container .jstree-brackets .jstree-rename-input {
	height: 20px;
	margin-bottom: 0px;
}
#working-set-list-container .file-icon {
	padding-right: 2px;
}
#project-files-container a {
	padding-left: 0px !important;
}
/* brackets git extension correlation */
.git-modified a, .git-new a {
	position: relative;
}
.git-new a:before {
	background: #91cc41;
}
.git-modified a:before {
	background: #e3b551;
}
.jstree-brackets .git-new a:before,
.jstree-brackets .git-modified a:before {
	left: -9999px;
}
.jstree-brackets li.git-new .file-icon:before,
.jstree-brackets li.git-modified .file-icon:before
{
	border-left: 2px solid #91cc41;
}
.jstree-brackets li.git-modified .file-icon:before {
	border-color: #e3b551;
}
.file-icon.icon-folder {
	background: url('../svg/default_folder.svg');
}
.jstree-open > a .file-icon.icon-folder {
	background: url('../svg/default_folder_opened.svg');
}

#sidebar.icons-grayscale .file-icon {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/** file types icons **/
.file-icon.icon-file {
    background: url('../svg/file.svg');
}
.file-icon.icon-ruby {
    background: url('../svg/ruby.svg');
}
.file-icon.icon-javascript {
    background: url('../svg/javascript.svg');
}
.file-icon.icon-ejs {
    background: url('../svg/ejs.svg');
}
.file-icon.icon-jsx {
    background: url('../svg/jsx.svg');
}
.file-icon.icon-typescript {
    background: url('../svg/typescript.svg');
}
.file-icon.icon-coffescript {
    background: url('../svg/coffescript.svg');
}
.file-icon.icon-json {
    background: url('../svg/json.svg');
}
.file-icon.icon-xml {
    background: url('../svg/xml.svg');
}
.file-icon.icon-html {
    background: url('../svg/html.svg');
}
.file-icon.icon-css {
    background: url('../svg/css.svg');
}
.file-icon.icon-sass {
    background: url('../svg/sass.svg');
}
.file-icon.icon-less {
    background: url('../svg/less.svg');
}
.file-icon.icon-stylus {
    background: url('../svg/stylus.svg');
}
.file-icon.icon-arduino {
    background: url('../svg/arduino.svg');
}
.file-icon.icon-elm {
    background: url('../svg/elm.svg');
}
.file-icon.icon-go {
    background: url('../svg/go.svg');
}
.file-icon.icon-dart {
    background: url('../svg/dart.svg');
}
.file-icon.icon-c {
    background: url('../svg/c.svg');
}
.file-icon.icon-cpp {
    background: url('../svg/cpp.svg');
}
.file-icon.icon-cppheader {
    background: url('../svg/cppheader.svg');
}
.file-icon.icon-elixir {
    background: url('../svg/elixir.svg');
}
.file-icon.icon-php {
    background: url('../svg/php.svg');
}
.file-icon.icon-sql {
    background: url('../svg/sql.svg');
}
.file-icon.icon-java {
    background: url('../svg/java.svg');
}
.file-icon.icon-jar {
    background: url('../svg/jar.svg');
}
.file-icon.icon-python {
    background: url('../svg/python.svg');
}
.file-icon.icon-shell {
    background: url('../svg/shell.svg');
}
.file-icon.icon-sh {
    background: url('../svg/sh.svg');
}
.file-icon.icon-bat {
    background: url('../svg/bat.svg');
}
.file-icon.icon-image {
    background: url('../svg/image.svg');
}
.file-icon.icon-svg {
    background: url('../svg/svg.svg');
}
.file-icon.icon-audio {
    background: url('../svg/audio.svg');
}
.file-icon.icon-video {
    background: url('../svg/video.svg');
}
.file-icon.icon-font {
    background: url('../svg/font.svg');
}
.file-icon.icon-markdown {
    background: url('../svg/markdown.svg');
}
.file-icon.icon-git {
    background: url('../svg/git.svg');
}
.file-icon.icon-git {
    background: url('../svg/git.svg');
}
.file-icon.icon-git {
    background: url('../svg/git.svg');
}
.file-icon.icon-zip {
    background: url('../svg/zip.svg');
}
.file-icon.icon-yaml {
    background: url('../svg/yaml.svg');
}
.file-icon.icon-pdf {
    background: url('../svg/pdf.svg');
}
.file-icon.icon-todo {
    background: url('../svg/todo.svg');
}
.file-icon.icon-map {
    background: url('../svg/map.svg');
}
.file-icon.icon-text {
    background: url('../svg/text.svg');
}
.file-icon.icon-ini {
	background: url('../svg/ini.svg');
}
.file-icon.icon-livescript {
	background: url('../svg/livescript.svg');
}