@font-face {
	font-family: 'icomoon';
	font-weight: normal;
	font-style: normal;
	src: url(../fonts/icomoon.woff2) format('woff');
}
.file-icon:before {
	content: attr(data-icon);
	font-family: "icomoon";
	text-align: center;
	width: 20px;
	text-shadow: none;
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
	border-left: 2px solid transparent;
}
.jstree-open > a .file-icon:before {
	content: '\e000';
}
.file-icon {
	color: #94a3a7;
}
.jstree ins.file-icon {
	position: relative;
	margin-left: -20px;
	margin-right: 5px;
	background: none;
}
li.jstree-open> ul {
	margin-left: 5px;
}

#working-set-list-container .file-icon {
	padding-right: 2px;
}
#project-files-container a {
	padding-left: 9px;
}
/* brackets git extension correlation */
.git-modified a, .git-new a {
	position: relative;
}
.git-new a:before {
	background: #91cc41;
}
.git-modified a:before {
	background: #e3b551;
}
.jstree-brackets .git-new a:before,
.jstree-brackets .git-modified a:before {
	left: -9999px;
}
.jstree-brackets li.git-new .file-icon:before,
.jstree-brackets li.git-modified .file-icon:before
{
	border-left: 2px solid #91cc41;
}
.jstree-brackets li.git-modified .file-icon:before {
	border-color: #e3b551;
}

